body {
  background-color: var(--gray);
  font-family: monospace, 'Calibri', sans-serif;
}

nav {
  height: 2em;
  background-color: var(--black);
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 10em;
  padding: 1em 2em;
  text-align: center;
  color: var(--white);
  letter-spacing: 0.15rem;
  background-color: var(--primary);
  box-shadow: var(--box-shadow);
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
header span {
  margin-top: 0.5em;
  font-size: 0.8rem;
  opacity: 0.8;
}

.container {
  padding: 1em 2em;
}
.row {
  display: grid;
  gap: var(--ft-size-gap);
  margin-top: var(--ft-size-gap);
  color: var(--black);
}
@media (min-width: 40em) {
  .row {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: var(--box-shadow);
}
