.box {
  --seg-width: 100%;
  --seg-height-raw: 20;
  --seg-height: calc(var(--seg-height-raw) * 1%);
  --white: #fdfffc;
  --gray: #6a708a;

  padding: 4%;
  min-width: 100%;
  background-color: var(--gray);
  border-radius: 0.4rem;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  aspect-ratio: calc(1 / (2 - (var(--seg-height-raw) / 100)));
  /* In this case, the aspect ratio is: width / (2 * width - height); */
}
.container > * {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  padding-bottom: var(--seg-height);
  color: var(--gray);
  background-color: var(--white);
  opacity: 0.8;
  transition: 0.4s;
  clip-path: polygon(
    var(--seg-height) 0,
    calc(100% - var(--seg-height)) 0,
    calc(100% - var(--seg-height) / 2) 50%,
    calc(100% - var(--seg-height)) 100%,
    var(--seg-height) 100%,
    calc(var(--seg-height) / 2) 50%
  );
}

/* TODO: remove it after finishing UI */
.container span {
  position: absolute;
}

.segment-a {
  top: 0;
}
.segment-b {
  right: var(--seg-height);
  transform: rotate(-90deg);
  transform-origin: top right;
}
.segment-c {
  right: var(--seg-height);
  bottom: 0;
  transform: rotate(90deg);
  transform-origin: bottom right;
}
.segment-d {
  bottom: 0;
}
.segment-e {
  bottom: 0;
  left: var(--seg-height);
  transform: rotate(-90deg);
  transform-origin: bottom left;
}
.segment-f {
  left: var(--seg-height);
  transform: rotate(90deg);
  transform-origin: top left;
}
.segment-g {
  margin-top: calc(100% - var(--seg-height));
}
.segment-dp {
  width: var(--seg-height);
  right: 0;
  bottom: 0;
}
